@import "./reset.css";

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.flex {
  display: flex;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.fs-24 {
  font-size: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

.h-screen {
  height: 100vh;
}

.items-center {
  align-items: center;
}
